.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/codeStyleConfig.xml
.idea/design_patterns.iml